
.account-body {
    background-image: url("images/25098.jpg");
    background-size: cover;
    background-position: center;
}

#themeSelector {
    padding: 4px;
}

.light-mode {
    color:black;
    background: #f5f5f5;
}

.dark-mode {
    color: #f5f5f5;
    background: gray;
}

.blue-mode {
    color: rgb(255, 255, 255);
    background: rgba(168, 177, 201, 0.859)
}

.creation-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.creation-container {
    text-align: center;
    border: 2px solid black;
    background: lightgrey;
    padding: 0 0 5px;
    max-width: 400px;
    width: 100%;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.creation-header{
    border-bottom: 2px black solid;
    background: #f5f5f5;
    width: 100%;
    margin: 0;
    margin-bottom: 5px;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 8px;
}

.creation-button {
    margin-top: 20px;
    padding: 10px 20px;
    width: 70%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reglogSwitch {
    margin-top: 30px;
}

.nav-bar {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.nav-bar a {
    text-decoration: none;
    color: #333;
    background-color: #f5f5f5;
    padding: 10px 20px;
    border: 1px solid #ccc;
}

.nav-bar a:hover {
    background-color: #ddd;
}

.nav-bar a.current-page {
    font-weight: bold;
    background-color: #ddd;
    pointer-events: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #e0e0e0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 0 20px;
    position: sticky;
    top: 0;
}

.dark-mode .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #333;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 0 20px;
}

.blue-mode .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #697FBD;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 0 20px;
}

.finance-table {
    width: 75%;
    border-collapse: collapse;
    margin-top: 20px;
}

.finance-table th, .finance-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

table img.table-icon {
    max-width: 20px;
}

#financeChart {
    max-width: 300px;
    max-height: 300px;
}

#stockChart {
    max-width: 100%;
    max-height: 400px;
}

.dashboard-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.card {
    flex: 1 1 200px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.dark-mode .card {
    flex: 1 1 200px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;

}

.card h3 {
    margin-bottom: 10px;
}

.dark-mode .card h3 {
    margin-bottom: 10px;
    color: #f5f5f5;
}

.blue-mode .card {
    flex: 1 1 200px;
    background-color: #697FBD;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;

}

.blue-mode .card h3 {
    margin-bottom: 10px;
    color: white;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.settings-container {
    text-align: center;
    border: 2px solid black;
    background: lightgrey;
    max-width: 400px;
    width: 100%;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.settings-card {
    margin: 0;
    padding: 20px 20px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;
    text-decoration: none;
    color: black;
}

.settings-card:last-child {
    border-bottom: none;
}

.settings-card:hover {
    background-color: #ddd;
}

.settings-icon {
    width: 20px;
    height: 20px;
}

.settings-header {
    border-bottom: 2px black solid;
    background: #f5f5f5;
    width: 100%;
    margin: 0;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dark-mode .settings-header {
    border-bottom: 2px black solid;
    background: #333;
    width: 100%;
    margin: 0;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    color: #f5f5f5;
}

.blue-mode .settings-header {
    border-bottom: 2px black solid;
    background: #697FBD;
    width: 100%;
    margin: 0;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    color: white;
}

.blank {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}