
.account-body {
    background-image: url("images/25098.jpg");
    background-size: cover;
    background-position: center;
}

#themeSelector {
    padding: 4px;
}

.light-mode {
    color:black;
    background: #f5f5f5;
}

.dark-mode {
    color: #f5f5f5;
    background: gray;
}

.blue-mode {
    color: white;
    background: #BDC7E2;
}

.creation-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.creation-container {
    text-align: center;
    border: 2px solid black;
    background: lightgrey;
    padding: 0 0 5px;
    max-width: 400px;
    width: 100%;
    align-items: center;
}

.creation-header{
    border-bottom: 2px black solid;
    background: #f5f5f5;
    width: 100%;
    margin: 0;
    margin-bottom: 5px;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
}


.nav-bar {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.nav-bar a {
    text-decoration: none;
    color: #333;
    background-color: #f5f5f5;
    padding: 10px 20px;
    border: 1px solid #ccc; /* subtle border */

}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #e0e0e0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 0 20px;
}

.dark-mode .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #333;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 0 20px;
}

.blue-mode .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #697FBD;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 0 20px;
}

.finance-table {
    width: 75%;
    border-collapse: collapse;
    margin-top: 20px;
}

.finance-table th, .finance-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

table img.table-icon {
    max-width: 20px;
}

#financeChart {
    max-width: 300px;
    max-height: 300px;
}