body {
    margin: 0;
    padding: 0;
}

.account-body {
    background-image: url("25098.jpg");
    background-size: cover;
    background-position: center;
}

#themeSelector {
    padding: 4px;
}

.creation-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.creation-container {
    text-align: center;
    border: 2px solid black;
    background: lightgrey;
    padding: 0 0 5px;
    max-width: 400px;
    width: 100%;
    align-items: center;
}

.creation-header{
    border-bottom: 2px black solid;
    background: #f5f5f5;
    width: 100%;
    margin: 0;
    margin-bottom: 5px;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
}

.light-mode {
    color:black;
    background: #f5f5f5;
}

.dark-mode {
    color: #f5f5f5;
    background: gray;
}

.dark-mode .nav-bar {
    background-color: #333;
}

.dark-mode h1 {
    background-color: #252526;
}

.blue-mode {
    color: white;
    background: #BDC7E2;
}

.blue-mode .nav-bar {
    background-color: #899BCD;
}

.blue-mode h1 {
    background-color: #697FBD;
}

.nav-bar {
    display: flex;
    justify-content: center;
    background-color: #e0e0e0;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.nav-bar a {
    text-decoration: none;
    color: #333;
    background-color: #f5f5f5;
    padding: 10px 20px;
    border: 1px solid #ccc; /* subtle border */

}

.page-header {
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

.tooltip {
    color: gray;
    font-style: italic;
    margin: 0;
}